In [1]:
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [2]:
data = np.random.randint(100, 1000, (10, 2))

In [3]:
data

array([[745, 931],
       [948, 726],
       [180, 302],
       [587, 877],
       [511, 758],
       [980, 148],
       [282, 673],
       [200, 521],
       [431, 344],
       [577, 705]])

In [4]:
scaler_model = MinMaxScaler()

In [5]:
scaler_model.fit(data)

/Users/lepatrick714/anaconda/envs/ucrtf/lib/python3.5/site-packages/sklearn/utils/validation.py:444: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [7]:
result = scaler_model.transform(data)

In [8]:
result

array([[ 0.70625   ,  1.        ],
       [ 0.96      ,  0.73818646],
       [ 0.        ,  0.19667944],
       [ 0.50875   ,  0.93103448],
       [ 0.41375   ,  0.77905492],
       [ 1.        ,  0.        ],
       [ 0.1275    ,  0.67049808],
       [ 0.025     ,  0.47637292],
       [ 0.31375   ,  0.25031928],
       [ 0.49625   ,  0.71136654]])

In [9]:
import pandas as pd

In [10]:
data = pd.DataFrame(data, columns = ['f1', 'f2'])

In [11]:
data

    f1   f2
0  745  931
1  948  726
2  180  302
3  587  877
4  511  758
5  980  148
6  282  673
7  200  521
8  431  344
9  577  705

In [12]:
data.head()

    f1   f2
0  745  931
1  948  726
2  180  302
3  587  877
4  511  758